// base
$font-family: "Raleway", sans-serif;
$transition: 0.25s ease-in-out;
$menu-transition: 0.35s ease-in-out;

// colors
$white-color: #fff;
$black-color: #1B1B1B;
$bg-color: #000110;
$accent-color: #1145FB;
